In [17]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2

In [3]:
pd.__version__

'2.2.2'

In [13]:
df = pd.read_csv('data/nyc_taxi.csv', nrows = 100000)

In [10]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data_table'))

CREATE TABLE "yellow_taxi_data_table" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TEXT,
  "tpep_dropoff_datetime" TEXT,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "airport_fee" REAL
)

In [18]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [19]:
engine.connect()

In [20]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data_table', con=engine))

CREATE TABLE yellow_taxi_data_table (
	"VendorID" BIGINT,
	tpep_pickup_datetime TEXT,
	tpep_dropoff_datetime TEXT,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [21]:
df_iter = pd.read_csv('data/nyc_taxi.csv',iterator=True, chunksize=100000)

In [26]:
df = next(df_iter)

In [28]:
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)

In [30]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
200000,1,2021-01-06 17:12:00,2021-01-06 17:17:55,1.0,1.60,1.0,N,237,239,1,7.0,3.5,0.5,2.25,0.0,0.3,13.55,2.5,NaN
200001,2,2021-01-06 17:03:41,2021-01-06 17:07:37,2.0,1.06,1.0,N,161,186,1,5.5,1.0,0.5,1.96,0.0,0.3,11.76,2.5,NaN
200002,2,2021-01-06 17:14:11,2021-01-06 17:29:58,2.0,5.24,1.0,N,68,238,1,18.0,1.0,0.5,1.00,0.0,0.3,23.30,2.5,NaN
200003,2,2021-01-06 17:45:43,2021-01-06 17:52:37,2.0,1.49,1.0,N,68,114,1,7.0,1.0,0.5,1.50,0.0,0.3,12.80,2.5,NaN
200004,2,2021-01-06 17:09:54,2021-01-06 17:30:53,1.0,2.78,1.0,N,232,97,1,14.0,1.0,0.5,2.75,0.0,0.3,18.55,0.0,NaN

In [31]:
# we want to insert the column names first, 
df.head(n=0).to_sql(name='yellow_taxi_data_table', con=engine, if_exists='replace')

0

In [33]:
df.to_sql(name='yellow_taxi_data_table', con=engine, if_exists='append')

1000

In [34]:
from time import time

In [35]:
while True:
    t_start = time()
    
    df = next(df_iter)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.to_sql(name='yellow_taxi_data_table', con=engine, if_exists='append')

    t_end = time()
    print('Inserted another chunk..., took %.3f seconds.' % (t_end - t_start))

Inserted another chunk..., took 9.867 seconds.
Inserted another chunk..., took 9.756 seconds.
Inserted another chunk..., took 9.916 seconds.
Inserted another chunk..., took 9.748 seconds.

/tmp/ipykernel_73008/4171059482.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

Inserted another chunk..., took 9.749 seconds.
Inserted another chunk..., took 9.610 seconds.
Inserted another chunk..., took 9.993 seconds.
Inserted another chunk..., took 9.769 seconds.
Inserted another chunk..., took 9.912 seconds.

/tmp/ipykernel_73008/4171059482.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

Inserted another chunk..., took 10.106 seconds.
Inserted another chunk..., took 5.950 seconds.

StopIteration: