In [ ]:
import pandas as pd

In [ ]:
!pip install sqlalchemy psycopg2-binary sqlalchemy_utils

In [ ]:
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
from time import time

In [ ]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi_db')

In [ ]:
if not database_exists(engine.url):
    create_database(engine.url)
    print("Database created successfully")
else:
    print("Database already exists")

In [ ]:
engine.connect()

In [ ]:
query = """
SELECT 1 as number;
"""

pd.read_sql(query, con=engine)

In [ ]:
query = """
SELECT * FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND schemaname != 'information_schema'
"""

pd.read_sql(query, con=engine)

In [ ]:
df_iterator = pd.read_csv('data/nyc_taxi.csv', iterator = True, chunksize=100000)

In [ ]:
while True:
    t_start = time()
    
    df = next(df_iterator)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.to_sql(name = 'yellow_taxi_data_table', con = engine, if_exists='append')
    
    t_end = time()
    
    print('Inserted another chunk...., took %.3f seconds' %(t_end - t_start))

In [ ]:
query = """
SELECT * FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND schemaname != 'information_schema'
"""

pd.read_sql(query, con = engine)

In [ ]:
query = """
SELECT * FROM yellow_taxi_data_table LIMIT 10;
"""

pd.read_sql(query, con = engine)

In [ ]:
query = """
SELECT COUNT(*) FROM yellow_taxi_data_table;
"""

pd.read_sql(query, con = engine)